footer {
    background: rgba(0, 0, 0, 0.81);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>a {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    border: none;
}

footer .column i {
    color: #dd2476;
}

footer .column i+i {
    padding: 0 0.5em;
}

@media only screen and (max-width:1024px) {
    
    footer .column i+i {
        padding: 0px;
    }
}