.partnars {
    width: 100%;
    margin-top: 100px;
}

.part-head {
    width: 100%;
    text-align: center;
}

.part-head h1 {
    width: 469px;
    height: 120px;
    font-size: 48px;
    line-height: 60px;
    margin: 0 auto;
}

.spon-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-head .spon-logo img {
    width: 10%;
}